@page
@model DatatypesModel
@{
    ViewData["Title"] = "Data Types";
}

<h1>@ViewData["Title"]</h1>



<li>Date</li>
<li>Body of Water</li>
<li>Total Hours Fished</li>
<li>Weather (indicate sun, full cloud, part cloud or rain)</li>
<li>Wind Direction and Strength</li>
<li>Air Termperature</li>
<li>Water Termperature</li>
<li>Time (indicate when fish was caught)</li>
<li>Size (length or weight measurement)</li>
<li>Depth and Clarity</li>
<li>Cover/Structure you are fishing — weedline, rocks, slop, pads, dock, etc.</li>
<li>Lure (size and color</li>
<li>Retrieve (fast, slow, finesse)</li>
